<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <link rel="stylesheet" href=" {% static 'main/css/base.css' %} ">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
         <a href="#" class="navbar-brand">НГТУ им. Р. Е. Алексеева</a>
        <ul class="navbar-menu">
        <li><a href="#">Расписание студента</a></li>
        <li><a href="#">Расписание преподавателя</a></li>
            <li><a href="#">Расписание группы</a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        </ul>
        <a href="#" class="back">Вход</a>
    </div>
    <div class="img1">
        <img src="https://papik.pro/uploads/posts/2022-01/1643626647_17-papik-pro-p-logotip-ngtu-18.png" class="img">
    </div>
</nav>

    </div>
</body>
</html>